Repository YJU-OKURA/project_minori-next-deployment-repo, pull requests merged in 2024-03, with the labels that each got.

#70 ウェブコンソールで発生する警告の除去とexportルールによるinterfaceファイルの修正
  src/app/components/card/Card.tsx
  src/app/components/card/Invitation.tsx
  src/components/dashboard/Dashboard.tsx
  src/components/dashboard/TabsMapping.tsx
  src/interfaces/dashboard/dashboardProps.ts
  src/interfaces/dashboard/index.ts
  src/interfaces/dashboard/tabsMappingProps.ts
  src/interfaces/group/cardProps.ts
  src/interfaces/group/index.ts
  src/interfaces/group/invitationProps.ts
Labels: 🔨 Refactor, ⏰ P3

#73 Navbar-componentと共通レイアウトCSSの修正作業
  src/app/globals.css
  src/app/layout.tsx
  src/components/navbar/Navbar.tsx
  src/styles/variable.css
Labels: 🎨 Html&css, ⏰ P3

#75 サイトナビゲーション向上のためのFooter-componentを追加
  public/svgs/footer/github.svg
  public/svgs/footer/index.ts
  public/svgs/footer/notion.svg
  src/app/layout.tsx
  src/components/footer/Footer.tsx
  src/components/footer/index.ts
Labels: 🎨 Html&css, ✨ Feature, ⏰ P3

#79 axiosを活用したAPIリクエストの機能化
  src/api/apiUtils.ts
  src/api/httpStatus.ts
Labels: 📬 API, ✨ Feature, ⏰ P2

#82 Classメインページレイアウト設計
  public/svgs/group/addButton.svg
  public/svgs/group/create.svg
  public/svgs/group/dropdownButton.svg
  public/svgs/group/index.ts
  public/svgs/group/join.svg
  public/svgs/group/moreVert.svg
  public/svgs/group/notice.svg
  public/svgs/group/post.svg
  public/svgs/group/thumbnail.svg
  src/app/[className]/components/alarm/Alarm.tsx
  src/app/[className]/components/alarm/index.ts
  src/app/[className]/components/card/PostCard.tsx
  src/app/[className]/components/card/ScheduleCard.tsx
  src/app/[className]/components/card/index.ts
  src/app/[className]/components/main/Main.tsx
  src/app/[className]/components/main/Notice.tsx
  src/app/[className]/components/main/Post.tsx
  src/app/[className]/components/main/Schedule.tsx
  src/app/[className]/components/main/index.ts
  src/app/[className]/components/member/Member.tsx
  src/app/[className]/components/member/index.ts
  src/app/[className]/page.tsx
  src/app/components/card/Card.tsx
  src/app/components/group/Created.tsx
  src/app/components/group/Favorite.tsx
  src/app/components/group/Invite.tsx
  src/app/components/group/Joined.tsx
  src/app/components/group/Waiting.tsx
  src/app/globals.css
  src/interfaces/group/cardProps.ts
  src/interfaces/group/index.ts
  src/interfaces/group/invitationProps.ts
  src/interfaces/group/postCardProps.ts
  src/interfaces/group/roleProps.ts
  src/interfaces/group/scheduleCardProps.ts
Labels: 🎨 Html&css, ✨ Feature, ⏰ P2

#85 API関数のタイプ定義の改善による開発効率及び保守性の向上
  src/api/apiUtils.ts
Labels: 🔨 Refactor, 📬 API, ⏰ P3

#87 ドロップダウンとモーダルのレイアウトと状態管理機能の追加
  public/svgs/group/index.ts
  public/svgs/group/joinIntro.svg
  src/app/components/card/Invitation.tsx
  src/app/components/group/Header.tsx
  src/app/components/group/Main.tsx
  src/app/components/group/dropdown/Dropdown.tsx
  src/app/components/group/dropdown/index.ts
  src/app/components/group/modal/ClassCreate.tsx
  src/app/components/group/modal/ClassJoin.tsx
  src/app/components/group/modal/index.ts
  src/interfaces/group/dropdownProps.ts
  src/interfaces/group/modal/index.ts
  src/interfaces/group/modal/modalProps.ts
Labels: 🎨 Html&css, ✨ Feature, ⏰ P2

#88 Navbar Componentの再設計と関連APIの開発でユーザーエクスペリエンスを向上させました。
  src/api/material/getMaterial.ts
  src/components/navbar/Navbar.tsx
  src/components/navbar/material/MaterialContainer.tsx
  src/components/navbar/material/MaterialForm.tsx
  src/components/navbar/material/MaterialList.tsx
  src/components/navbar/material/index.ts
  src/components/navbar/profile/Profile.tsx
  src/components/navbar/profile/index.ts
  src/interfaces/navbar/index.tsx
  src/interfaces/navbar/material.ts
  src/interfaces/navbar/userProps.ts
  src/model/User.ts
Labels: 🔨 Refactor, 📬 API, ✨ Feature, ⏰ P2

#90 Jestタイプのインストールとスナップショットテストの更新
  __tests__/__snapshots__/snapshot.js.snap
  package.json
  yarn.lock
Labels: ⚙ Setting, 🐞 BugFix, ✅ Test, ⏰ P1

#95 APIリクエストURLの動的変更実装による拡張性と保守性の向上
  __tests__/api/getMaterial.test.ts
  jest.config.ts
  src/api/apiUtils.ts
  src/api/material/getMaterial.ts
Labels: 🔨 Refactor, 📬 API, ✨ Feature, ⏰ P2

#98 フォルダとファイルの名前変更
  public/images/_class/github.png
  public/images/_class/index.ts
  public/images/_class/seouluni.png
  public/images/_class/twayair.png
  public/images/_class/wasedauni.png
  public/images/_class/yahoo.png
  public/images/_class/yeungjin.png
  public/svgs/_class/addButton.svg
  public/svgs/_class/create.svg
  public/svgs/_class/dropdownButton.svg
  public/svgs/_class/favorite.svg
  public/svgs/_class/folder.svg
  public/svgs/_class/index.ts
  public/svgs/_class/join.svg
  public/svgs/_class/joinIntro.svg
  public/svgs/_class/moreVert.svg
  public/svgs/_class/noneFavorite.svg
  public/svgs/_class/notice.svg
  public/svgs/_class/post.svg
  public/svgs/_class/thumbnail.svg
  src/app/[className]/components/card/PostCard.tsx
  src/app/[className]/components/card/ScheduleCard.tsx
  src/app/[className]/components/main/Main.tsx
  src/app/[className]/components/main/Notice.tsx
  src/app/[className]/components/main/Post.tsx
  src/app/[className]/components/main/Schedule.tsx
  src/app/components/_class/Created.tsx
  src/app/components/_class/Favorite.tsx
  src/app/components/_class/Header.tsx
  src/app/components/_class/Invite.tsx
  src/app/components/_class/Joined.tsx
  src/app/components/_class/Main.tsx
  src/app/components/_class/Waiting.tsx
  src/app/components/_class/dropdown/Dropdown.tsx
  src/app/components/_class/dropdown/index.ts
  src/app/components/_class/index.ts
  src/app/components/_class/modal/ClassCreate.tsx
  src/app/components/_class/modal/ClassJoin.tsx
  src/app/components/_class/modal/ClassPassword.tsx
  src/app/components/_class/modal/ClassWait.tsx
  src/app/components/_class/modal/index.ts
  src/app/components/card/Card.tsx
  src/app/components/card/Invitation.tsx
  src/app/page.tsx
  src/interfaces/_class/cardProps.ts
  src/interfaces/_class/classProps.ts
  src/interfaces/_class/dropdownProps.ts
  src/interfaces/_class/index.ts
  src/interfaces/_class/invitationProps.ts
  src/interfaces/_class/inviteProps.ts
  src/interfaces/_class/modal/classPasswordProps.ts
  src/interfaces/_class/modal/classWaitProps.ts
  src/interfaces/_class/modal/index.ts
  src/interfaces/_class/modal/modalProps.ts
  src/interfaces/_class/postCardProps.ts
  src/interfaces/_class/roleProps.ts
  src/interfaces/_class/scheduleCardProps.ts
Labels: 🔨 Refactor, ⏰ P3

#100 userPromptレイアウトの作成とapiリクエスト関数の生成
  __tests__/api/prompt/getMessage.test.ts
  __tests__/api/prompt/getPrompt.test.ts
  __tests__/api/prompt/patchMessage.test.ts
  __tests__/api/prompt/postPrompt.test.ts
  public/svgs/prompt/delete.svg
  public/svgs/prompt/drive.svg
  public/svgs/prompt/index.ts
  src/api/prompts/getMessage.ts
  src/api/prompts/getPrompt.ts
  src/api/prompts/patchMessage.ts
  src/api/prompts/postPrompt.ts
  src/app/[className]/[materialName]/components/Quiz.tsx
  src/app/[className]/[materialName]/components/UserContainer.tsx
  src/app/[className]/[materialName]/components/index.ts
  src/app/[className]/[materialName]/components/subComponents/PromptChat.tsx
  src/app/[className]/[materialName]/components/subComponents/Storage.tsx
  src/app/[className]/[materialName]/components/subComponents/SubContainer.tsx
  src/app/[className]/[materialName]/components/subComponents/index.ts
  src/app/[className]/[materialName]/layout.tsx
  src/app/[className]/[materialName]/page.tsx
  src/interfaces/navbar/index.ts
  src/interfaces/navbar/index.tsx
  src/interfaces/prompt/index.ts
  src/interfaces/prompt/promptMessages.ts
  src/interfaces/prompt/promptMessagesProps.ts
  src/interfaces/prompt/storageMessage.ts
  src/styles/variable.css
Labels: 🎨 Html&css, ✅ Test, 📬 API, ✨ Feature, ⏰ P2
